.main-creator-dashboard-page{
    display: flex;
    justify-content: flex-start;
}
.main-page-secction{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(231, 231, 230);
}
.sideNavBar>*{
    margin-top:10px;
}
.sideNavBar{
    background-color: rgb(205, 212, 218);
    padding: 0px 20px;
}
.tab{
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    /* margin-left: 28px; */
    background-color: rgb(236, 236, 236);
}
.selected{
    background-color: rgb(176, 106, 241);
    color:white;
    padding: 8px 10px ;
}
.vertical-line{
    height: 100vh;
    border:none;
}
.creator-signout-btn{
    margin-top: 10vh;
    background-color: rgb(70, 73, 238);
    text-align: center;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    /* margin-left: 20px; */
    border-radius: 5px;
}
.creator-signout-btn:hover{
    background-color: blue;
}